@font-face {
    font-family: opensans;
    src: url(../fonts/OpenSans.ttf);
}

body {
	font-family: opensans;
	font-size: 14px;
}

.title{
	font-weight:800;
	font-size:1.5em;
	line-height:1.5em;
	border-bottom:1px solid #eee;
	margin-bottom:17px;
	padding-bottom:5px;
}
.title.tarticle{
	margin-bottom:4px;
}
.tcenter {
	text-align: center!important;
}
.tright {
	text-align: right!important;
}
.tmiddle,.tmiddle td{
	vertical-align: middle!important;
}
.italic{
	font-style:italic;	
}
.bold{
	font-weight:bold;	
}
.title.tsidebar{
	margin-bottom:10px;
}
.header{
	background-color:#fff;
	height:62px;
	top:0px;
	position:fixed;
	z-index:888;
	left:0px;
	width:100%;
}
.header.scrolled{
	-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
}
.content{
	margin-top: 40px;	
}
.logo{
	background:#fff url('../img/front/logo-small.png') no-repeat left 15px;
	width:100px;
	height:45px;
}
.top{
	background-color:#1a69b6;
	height:70px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.footer{
	background-color:#1a69b6;
	height: 120px;
	color:#fff;
	text-align:left;
}
.titletop{
	text-transform:uppercase;
	font-weight:300;
	font-size:0.9em;
	line-height:0.9em;
	text-shadow:1px 1px 4px #6e8cb2;	
	margin-top:25px;
	margin-left:10px;
}
.titletop span{
	font-size:0.7em;
}
.header .nav{
	margin-top:15px;
	font-size:0.8em;	
}
.box{
	margin:20px 0px;
	background-color:#fff;
	padding:20px 30px;
	-webkit-box-shadow:2px 4px 1px #eeeeee;-moz-box-shadow:2px 4px 1px #eeeeee;box-shadow:2px 4px 1px #eeeeee;
}
.sidebar{
	min-height:350px;	
}
.main{
	min-height:350px;	
}
.pager{
	margin-top:50px;	
	font-size:0.9em;
}
.pager li{
	margin-left:30px;	
}
.article{
	margin-bottom:30px;	
}

p.timepost{
	font-size:0.9em;
	margin-bottom:10px;
}
#menu{
	margin-top:25px;	
	text-transform:uppercase;
	font-size:0.9em;
	margin-right:40px;
}
.footer{
	color:#fff;	
}
.footer p{
	margin-top:60px;
}
.table1{
	width:100%;	
}
.table1 tr td{
	padding:5px 5px;	
}
.title span .btn{
	font-weight:normal!important;
}
/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Variations */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}